[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
matplotlib = "*"
pytest = "*"
coverage = "*"

[packages]
imageio = "*"
imageio-ffmpeg = "*"
scikit-image = "*"

[requires]
python_version = "3.8"
